<table class="table table-bordered table-striped">
  <thead class="table-primary">
    <tr>
            <th>ID</th>
      <th>Solicitação</th>
      <th>Prazo</th>
      <th>Visita</th>
      <th>Desenhista</th>
      <th>Início</th>
      <th>Final</th>
      <th>Revisor</th>
      <th>Data Entrega</th>
      <th>ART</th>
      <th>Status</th>
      <th>Cliente ID</th>
    </tr>
  </thead>
  <tbody>
    {% for p in projetos %}
      <tr>
      <td>{{ p.id }}</td>
      <td>{{ p.solicitacao }}</td>
      <td>{{ p.prazo }}</td>
      <td>{{ p.visita }}</td>
      <td>{{ p.desenhista }}</td>
      <td>{{ p.timestamp_inicio }}</td>
      <td>{{ p.timestamp_final }}</td>
      <td>{{ p.revisor }}</td>
      <td>{{ p.data_entrega }}</td>
      <td>{{ "Sim" if p.art else "Não" }}</td>
      <td>{{ p.status }}</td>
      <td>{{ p.cliente.unidade }}</td>

      </tr>
    {% endfor %}
  </tbody>
</table>